@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  color: #444;
  letter-spacing: -2px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  color: #777;
  font-weight: 400;
  line-height: 26px;
}

h4 {
  font-size: 16px;
  color: #fff;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
  color: #d43133;
}